@font-face {
  font-family: 'Orbito';
  src:  url('../fonts/Orbito4d2d.eot?34c2ni');
  src:  url('../fonts/Orbito4d2d.eot?34c2ni#iefix') format('embedded-opentype'),
    url('../fonts/Orbito4d2d.ttf?34c2ni') format('truetype'),
    url('../fonts/Orbito4d2d.woff?34c2ni') format('woff'),
    url('../fonts/Orbito4d2d.svg?34c2ni#Orbito') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="orbito-"], [class*=" orbito-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Orbito' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.orbito-alarm:before {
  content: "\e900";
}
.orbito-attachment:before {
  content: "\e901";
}
.orbito-battery:before {
  content: "\e902";
}
.orbito-bookmark:before {
  content: "\e903";
}
.orbito-brightness:before {
  content: "\e904";
}
.orbito-calendar:before {
  content: "\e905";
}
.orbito-camera:before {
  content: "\e906";
}
.orbito-cart:before {
  content: "\e907";
}
.orbito-chat:before {
  content: "\e908";
}
.orbito-cloud:before {
  content: "\e909";
}
.orbito-delete:before {
  content: "\e90a";
}
.orbito-earphone:before {
  content: "\e90b";
}
.orbito-email:before {
  content: "\e90c";
}
.orbito-file:before {
  content: "\e90d";
}
.orbito-image-gallery:before {
  content: "\e90e";
}
.orbito-joystick:before {
  content: "\e90f";
}
.orbito-group:before {
  content: "\e910";
}
.orbito-home:before {
  content: "\e911";
}
.orbito-label:before {
  content: "\e912";
}
.orbito-library:before {
  content: "\e913";
}
.orbito-like:before {
  content: "\e914";
}
.orbito-link:before {
  content: "\e915";
}
.orbito-lock:before {
  content: "\e916";
}
.orbito-love:before {
  content: "\e917";
}
.orbito-maps-and-location:before {
  content: "\e918";
}
.orbito-menu:before {
  content: "\e919";
}
.orbito-microphone:before {
  content: "\e91a";
}
.orbito-new-page:before {
  content: "\e91b";
}
.orbito-notification:before {
  content: "\e91c";
}
.orbito-edit:before {
  content: "\e91d";
}
.orbito-user:before {
  content: "\e91e";
}
.orbito-pin:before {
  content: "\e91f";
}
.orbito-plane:before {
  content: "\e920";
}
.orbito-protection:before {
  content: "\e921";
}
.orbito-recent:before {
  content: "\e922";
}
.orbito-search:before {
  content: "\e923";
}
.orbito-settings:before {
  content: "\e924";
}
.orbito-settings1:before {
  content: "\e925";
}
.orbito-share:before {
  content: "\e926";
}
.orbito-shopping-bag:before {
  content: "\e927";
}
.orbito-sound:before {
  content: "\e928";
}
.orbito-star:before {
  content: "\e929";
}
.orbito-target:before {
  content: "\e92a";
}
.orbito-uploading:before {
  content: "\e92b";
}
.orbito-user1:before {
  content: "\e92c";
}
.orbito-video:before {
  content: "\e92d";
}
.orbito-view:before {
  content: "\e92e";
}
.orbito-wifi:before {
  content: "\e92f";
}
.orbito-achievement:before {
  content: "\e930";
}
.orbito-flag:before {
  content: "\e931";
}
.orbito-add:before {
  content: "\e932";
}
.orbito-contacs:before {
  content: "\e933";
}
.orbito-aim:before {
  content: "\e934";
}
.orbito-clock:before {
  content: "\e935";
}
.orbito-anchor:before {
  content: "\e936";
}
.orbito-tick:before {
  content: "\e937";
}
.orbito-archive:before {
  content: "\e938";
}
.orbito-atm-card:before {
  content: "\e939";
}
.orbito-attach:before {
  content: "\e93a";
}
.orbito-backwards:before {
  content: "\e93b";
}
.orbito-badge:before {
  content: "\e93c";
}
.orbito-bag:before {
  content: "\e93d";
}
.orbito-ban:before {
  content: "\e93e";
}
.orbito-low-battery:before {
  content: "\e93f";
}
.orbito-bell:before {
  content: "\e940";
}
.orbito-binocular:before {
  content: "\e941";
}
.orbito-bluetooth:before {
  content: "\e942";
}
.orbito-board:before {
  content: "\e943";
}
.orbito-notebook:before {
  content: "\e944";
}
.orbito-bookmark1:before {
  content: "\e945";
}
.orbito-book:before {
  content: "\e946";
}
.orbito-box:before {
  content: "\e947";
}
.orbito-briefcase:before {
  content: "\e948";
}
.orbito-brush:before {
  content: "\e949";
}
.orbito-identification:before {
  content: "\e94a";
}
.orbito-bar:before {
  content: "\e94b";
}
.orbito-calendar1:before {
  content: "\e94c";
}
.orbito-telephone:before {
  content: "\e94d";
}
.orbito-call:before {
  content: "\e94e";
}
.orbito-cancel:before {
  content: "\e94f";
}
.orbito-cart1:before {
  content: "\e950";
}
.orbito-center-align:before {
  content: "\e951";
}
.orbito-center-align-1:before {
  content: "\e952";
}
.orbito-full-battery:before {
  content: "\e953";
}
.orbito-tick-1:before {
  content: "\e954";
}
.orbito-writing:before {
  content: "\e955";
}
.orbito-writing-1:before {
  content: "\e956";
}
.orbito-chemistry:before {
  content: "\e957";
}
.orbito-chemistry-1:before {
  content: "\e958";
}
.orbito-tubes:before {
  content: "\e959";
}
.orbito-sand-clock:before {
  content: "\e95a";
}
.orbito-code:before {
  content: "\e95b";
}
.orbito-code-1:before {
  content: "\e95c";
}
.orbito-gear:before {
  content: "\e95d";
}
.orbito-compass:before {
  content: "\e95e";
}
.orbito-compress:before {
  content: "\e95f";
}
.orbito-monitor:before {
  content: "\e960";
}
.orbito-compress-1:before {
  content: "\e961";
}
.orbito-contact-book:before {
  content: "\e962";
}
.orbito-cpu:before {
  content: "\e963";
}
.orbito-crop:before {
  content: "\e964";
}
.orbito-headphones:before {
  content: "\e965";
}
.orbito-curriculum:before {
  content: "\e966";
}
.orbito-pendrive:before {
  content: "\e967";
}
.orbito-calendar-1:before {
  content: "\e968";
}
.orbito-calendar-2:before {
  content: "\e969";
}
.orbito-anchor-point:before {
  content: "\e96a";
}
.orbito-smartphone:before {
  content: "\e96b";
}
.orbito-diamond:before {
  content: "\e96c";
}
.orbito-diary:before {
  content: "\e96d";
}
.orbito-syringe:before {
  content: "\e96e";
}
.orbito-stethoscope:before {
  content: "\e96f";
}
.orbito-approved:before {
  content: "\e970";
}
.orbito-archives:before {
  content: "\e971";
}
.orbito-down-arrow:before {
  content: "\e972";
}
.orbito-down-arrow-1:before {
  content: "\e973";
}
.orbito-drink:before {
  content: "\e974";
}
.orbito-writing-2:before {
  content: "\e975";
}
.orbito-writing-3:before {
  content: "\e976";
}
.orbito-writing-4:before {
  content: "\e977";
}
.orbito-edit1:before {
  content: "\e978";
}
.orbito-pen:before {
  content: "\e979";
}
.orbito-pen-1:before {
  content: "\e97a";
}
.orbito-calendar-3:before {
  content: "\e97b";
}
.orbito-calendar-4:before {
  content: "\e97c";
}
.orbito-calendar-5:before {
  content: "\e97d";
}
.orbito-calendar-6:before {
  content: "\e97e";
}
.orbito-event:before {
  content: "\e97f";
}
.orbito-event-1:before {
  content: "\e980";
}
.orbito-tube:before {
  content: "\e981";
}
.orbito-eye:before {
  content: "\e982";
}
.orbito-backward:before {
  content: "\e983";
}
.orbito-forward:before {
  content: "\e984";
}
.orbito-paper:before {
  content: "\e985";
}
.orbito-flag-1:before {
  content: "\e986";
}
.orbito-flag-2:before {
  content: "\e987";
}
.orbito-thunder:before {
  content: "\e988";
}
.orbito-flask:before {
  content: "\e989";
}
.orbito-flask-1:before {
  content: "\e98a";
}
.orbito-diagram:before {
  content: "\e98b";
}
.orbito-folder:before {
  content: "\e98c";
}
.orbito-folder-1:before {
  content: "\e98d";
}
.orbito-cutlery:before {
  content: "\e98e";
}
.orbito-forward-1:before {
  content: "\e98f";
}
.orbito-full-battery-1:before {
  content: "\e990";
}
.orbito-present:before {
  content: "\e991";
}
.orbito-present-1:before {
  content: "\e992";
}
.orbito-squares:before {
  content: "\e993";
}
.orbito-gym:before {
  content: "\e994";
}
.orbito-headphones-1:before {
  content: "\e995";
}
.orbito-blind:before {
  content: "\e996";
}
.orbito-identification-1:before {
  content: "\e997";
}
.orbito-name:before {
  content: "\e998";
}
.orbito-postal:before {
  content: "\e999";
}
.orbito-image:before {
  content: "\e99a";
}
.orbito-image-1:before {
  content: "\e99b";
}
.orbito-in:before {
  content: "\e99c";
}
.orbito-inbox:before {
  content: "\e99d";
}
.orbito-router:before {
  content: "\e99e";
}
.orbito-layers:before {
  content: "\e99f";
}
.orbito-left-alignment:before {
  content: "\e9a0";
}
.orbito-left-arrow:before {
  content: "\e9a1";
}
.orbito-lamp:before {
  content: "\e9a2";
}
.orbito-placeholder:before {
  content: "\e9a3";
}
.orbito-placeholder-1:before {
  content: "\e9a4";
}
.orbito-in-1:before {
  content: "\e9a5";
}
.orbito-out:before {
  content: "\e9a6";
}
.orbito-wand:before {
  content: "\e9a7";
}
.orbito-magnet:before {
  content: "\e9a8";
}
.orbito-letter:before {
  content: "\e9a9";
}
.orbito-measurement:before {
  content: "\e9aa";
}
.orbito-menu1:before {
  content: "\e9ab";
}
.orbito-message:before {
  content: "\e9ac";
}
.orbito-microphone1:before {
  content: "\e9ad";
}
.orbito-minimize:before {
  content: "\e9ae";
}
.orbito-mobile:before {
  content: "\e9af";
}
.orbito-monitor-1:before {
  content: "\e9b0";
}
.orbito-more:before {
  content: "\e9b1";
}
.orbito-note:before {
  content: "\e9b2";
}
.orbito-notepad:before {
  content: "\e9b3";
}
.orbito-note-1:before {
  content: "\e9b4";
}
.orbito-slider:before {
  content: "\e9b5";
}
.orbito-slider-1:before {
  content: "\e9b6";
}
.orbito-organization:before {
  content: "\e9b7";
}
.orbito-log-out:before {
  content: "\e9b8";
}
.orbito-package:before {
  content: "\e9b9";
}
.orbito-page:before {
  content: "\e9ba";
}
.orbito-pages:before {
  content: "\e9bb";
}
.orbito-pause:before {
  content: "\e9bc";
}
.orbito-writing-5:before {
  content: "\e9bd";
}
.orbito-physics:before {
  content: "\e9be";
}
.orbito-pin1:before {
  content: "\e9bf";
}
.orbito-placeholder-2:before {
  content: "\e9c0";
}
.orbito-play:before {
  content: "\e9c1";
}
.orbito-presentation:before {
  content: "\e9c2";
}
.orbito-profile:before {
  content: "\e9c3";
}
.orbito-profile-1:before {
  content: "\e9c4";
}
.orbito-book-1:before {
  content: "\e9c5";
}
.orbito-recycle:before {
  content: "\e9c6";
}
.orbito-recycle-1:before {
  content: "\e9c7";
}
.orbito-recycle-2:before {
  content: "\e9c8";
}
.orbito-refresh:before {
  content: "\e9c9";
}
.orbito-resume:before {
  content: "\e9ca";
}
.orbito-ribbon:before {
  content: "\e9cb";
}
.orbito-right-alignment:before {
  content: "\e9cc";
}
.orbito-right:before {
  content: "\e9cd";
}
.orbito-roller:before {
  content: "\e9ce";
}
.orbito-router-1:before {
  content: "\e9cf";
}
.orbito-ruler:before {
  content: "\e9d0";
}
.orbito-sand-clock-1:before {
  content: "\e9d1";
}
.orbito-monitor-2:before {
  content: "\e9d2";
}
.orbito-search1:before {
  content: "\e9d3";
}
.orbito-rulers:before {
  content: "\e9d4";
}
.orbito-set-square:before {
  content: "\e9d5";
}
.orbito-gear-1:before {
  content: "\e9d6";
}
.orbito-share1:before {
  content: "\e9d7";
}
.orbito-shield:before {
  content: "\e9d8";
}
.orbito-shopping-bag1:before {
  content: "\e9d9";
}
.orbito-shopping-cart:before {
  content: "\e9da";
}
.orbito-shopping-cart-1:before {
  content: "\e9db";
}
.orbito-wristwatch:before {
  content: "\e9dc";
}
.orbito-star1:before {
  content: "\e9dd";
}
.orbito-street-light:before {
  content: "\e9de";
}
.orbito-syringe-1:before {
  content: "\e9df";
}
.orbito-tablet:before {
  content: "\e9e0";
}
.orbito-tag:before {
  content: "\e9e1";
}
.orbito-test-tube:before {
  content: "\e9e2";
}
.orbito-document:before {
  content: "\e9e3";
}
.orbito-ticket:before {
  content: "\e9e4";
}
.orbito-tie:before {
  content: "\e9e5";
}
.orbito-chronometer:before {
  content: "\e9e6";
}
.orbito-sand-clock-2:before {
  content: "\e9e7";
}
.orbito-tissue-roll:before {
  content: "\e9e8";
}
.orbito-top-alignment:before {
  content: "\e9e9";
}
.orbito-torch:before {
  content: "\e9ea";
}
.orbito-recycle-3:before {
  content: "\e9eb";
}
.orbito-recycle-4:before {
  content: "\e9ec";
}
.orbito-trash:before {
  content: "\e9ed";
}
.orbito-trolley:before {
  content: "\e9ee";
}
.orbito-up-arrow:before {
  content: "\e9ef";
}
.orbito-upload:before {
  content: "\e9f0";
}
.orbito-upload-1:before {
  content: "\e9f1";
}
.orbito-upload-2:before {
  content: "\e9f2";
}
.orbito-usb-cable:before {
  content: "\e9f3";
}
.orbito-usb:before {
  content: "\e9f4";
}
.orbito-add-user:before {
  content: "\e9f5";
}
.orbito-user2:before {
  content: "\e9f6";
}
.orbito-user-1:before {
  content: "\e9f7";
}
.orbito-user-2:before {
  content: "\e9f8";
}
.orbito-delete-user:before {
  content: "\e9f9";
}
.orbito-user-3:before {
  content: "\e9fa";
}
.orbito-user-4:before {
  content: "\e9fb";
}
.orbito-user-5:before {
  content: "\e9fc";
}
.orbito-user-6:before {
  content: "\e9fd";
}
.orbito-user-7:before {
  content: "\e9fe";
}
.orbito-user-8:before {
  content: "\e9ff";
}
.orbito-user-9:before {
  content: "\ea00";
}
.orbito-contact-information:before {
  content: "\ea01";
}
.orbito-user-10:before {
  content: "\ea02";
}
.orbito-user-11:before {
  content: "\ea03";
}
.orbito-user-12:before {
  content: "\ea04";
}
.orbito-block-user:before {
  content: "\ea05";
}
.orbito-user-13:before {
  content: "\ea06";
}
.orbito-user-14:before {
  content: "\ea07";
}
.orbito-user-15:before {
  content: "\ea08";
}
.orbito-user-16:before {
  content: "\ea09";
}
.orbito-user-17:before {
  content: "\ea0a";
}
.orbito-users:before {
  content: "\ea0b";
}
.orbito-vector:before {
  content: "\ea0c";
}
.orbito-verified:before {
  content: "\ea0d";
}
.orbito-video-camera:before {
  content: "\ea0e";
}
.orbito-video1:before {
  content: "\ea0f";
}
.orbito-eye-1:before {
  content: "\ea10";
}
.orbito-mute:before {
  content: "\ea11";
}
.orbito-mute-1:before {
  content: "\ea12";
}
.orbito-low-volume:before {
  content: "\ea13";
}
.orbito-wall-clock:before {
  content: "\ea14";
}
.orbito-wristwatch-1:before {
  content: "\ea15";
}
.orbito-drop:before {
  content: "\ea16";
}
.orbito-web:before {
  content: "\ea17";
}
.orbito-wristwatch-2:before {
  content: "\ea18";
}
.orbito-writing-6:before {
  content: "\ea19";
}
.orbito-zoom:before {
  content: "\ea1a";
}
.orbito-zoom-in:before {
  content: "\ea1b";
}
.orbito-zoom-out:before {
  content: "\ea1c";
}
